/* .bg-danger
{
  background-color:blue  !important;
} */

.bg-navigasi
{
  background-color: #7DEDFF;
}

.bg-hero
{
  background-color: #88fff7
}

.img-fitur
{
  width: 150px;
}

.testimoni
{
  background-color: #7C83FD;
  color: #fff;
  height: 450px;
}

.img-testimoni
{
  width: 100px;
}

.carousel-inner
{
  padding: 0 10%; /* (0 = atas dan bawah, 10% = kanan dan kiri ) */
}

.paket-row:nth-of-type(even) /* nth-of-type untuk membuat background color (nomor genap), berwana biru muda  */
{
  background-color: #EEFFFF;
}

.paket-row:hover /* membuat content dari Perbandingan paket ketika mouse di letakkan diatasnya akan berwana biru tua */
{
  background-color: #88FFF7;
}

footer
{
  background-color: #7DEDFF;
}
